.nav{
    height: 30px;
    background-color:#eee;
    padding-left: 20px;
    padding-right: 20px;
    }
    .nav img{
        width: 2%;
        height: 20px;
    }
    .nav span{
    margin-right: 60px;
    height: 30px;
    width: 10%;
    background-color: #fff;;
    }
    .nav div{
    gap: 20px;
    padding-left: 20px;
    align-items:center ;
    height: 30px;
    
    }
    .nav p{
        margin-top: 10px;
    }
    
    /* nav end */
    
    
    
     /* heard start  */
    
    .navbar{
    border: 1px solid rgb(178, 177, 177);
    align-items: center;
    height: 100px;
    color: #8dc63f;
    background-color: #ffffff;
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    }
    
    .navbar button{
        gap: 200px;
       height: 40px;
        font-size: 10px;
        background-color: #8dc63f;
        border-radius: 5px;
        border: none;
    }
    .navbar p{
        color: black;
        display: flex;
        gap: 20px;
    }
    .tex{
    display: flex;
    font-size: 15px;
    }
      .navbar a:hover{
        color: #8dc63f;
        
      }
      .navbar button{
        background-color: #8dc63f;
      }
       /* heard end */
    
       /* first portion start  */
    
       .contact{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
       }
    
       .para{
    width: 40%;
        margin-top: -10px;
        height: 700px;
       }
    
       .para h1{
        width: 80%;
    
       }
       .para h3{
        margin-top: 20px;
       }
       .para span{
        color: #8dc63f;
    
       }
    
       .now{
        height: 60px;
        background-color: #eaebff;
        width: 6%;
        margin-top: 60px;
       }
    
       .img{
    margin-top: -700px;
       }
       .img>img{
    margin-left: 500px;
    width: 50%;
    
       }
    
       .img>div{
        margin-top: -550px;
        margin-left: 550px;
       }
       .Now{
        height: 60px;
        background-color: #eaebff;
        width: 8%;
        margin-top:2px;
        margin-left: 320px;
       }
          /* first portion end  */





/* second poartion start */
 .heading{
    margin-top: 600px;
text-align: center;
}

.contactcontainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;
}
.mineimg{
width: 15%;
background-color: #b6ef4933;

margin-left: 30px;

}

.contactcontainer img{
    margin-left: 30px;
  
}
.contactcontainer p{
    text-align: center;
}



.image{
width: 95%;
margin-left: 25px;
margin-top: 20px;
}


.image img{
    width: 25%;
    border-radius: 10px;
}





.but{
    width: 95%;
    margin-left: 25px;
    margin-top: 20px;
    display: flex
    ;
    justify-content: space-around;
    margin-top: -40px;
    padding-left: 20px;
    padding-right: 20px;
    
    }
.but button{
    width: 20%;
    background-color:  #8dc63f;
}




.Food{

margin-left:90px ;
margin-top: -60px;
font-weight: bold;
height: 50px;

}
.t{
     margin-left:390px ;
    margin-top: -70px;
    height: 20px;
    font-weight: bold;
}

.IT{
    margin-left:690px ;
    margin-top: -40px;
    height: 20px;
    font-weight: bold;
}
/* second poartion end */


/*last poartion start */
.bg{
    background-color: rgb(49, 49, 50);
height: 700px;
}

.bimg{
    
    background-image: url(https://www.saylaniwelfare.com/static/media/upcoming_background.a669f19ea2aee3c7e10f.png);
    opacity: 0.1;
    background-position: 50% 0;
margin-top: 90px;
    height: 500px;
}

.moreimg{
    width: 30%;
    margin-left: 10px;
margin-top: -0px;
}
.moreimg img{
height: 40px;
width: 70%;

}

.morepara{
height: 500px;
}
.logo{
    width: 30%;
    height: 200px;
}
.hea{
display: flex;

height: 500px;
width: 70%;
margin-left: 250px;
justify-content: space-around;
flex-wrap: wrap;
margin-top: -260px;
}


.firstcolum{
display: flex;
flex-wrap: wrap;
width: 15%;
margin-top: -450px;
justify-content: space-between;
flex-direction: column;
margin-left: 300px;
}

.secdoncolumn{
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    margin-top: -200px;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 530px;
}

.thardcolumn{
    display: flex;
    flex-wrap: wrap;
    width: 31%;
    margin-top: -160px;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 690px;
}
.head{
    display: none;
}

.charset{
margin-top: -500px;
} 
 
.logoimg{
 
margin-top: -300px;
height: 100px;
display: flex;
width: 90%;
margin-left: 50px;
justify-content: center;
}
.addres{
    text-align: center;
    width: 90%;
margin-left: 50px;

}  


















































          @media only screen and (max-width: 600px){
            .nav{
                    background-color:#eee;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 2px;
                padding-right: 0;
                width: 100%;
                }
                .nav img{
                    width: 5%;
                    height: 20px;
                }
                .nav p{

                 margin-top:30px ;
                   font-size: 5px;
                   height: 30px;
                   width: 39%;
                   font-weight: bold;
                }
                .nav span{
                    width: 15%;
                }
    
                .navbar{
    
               width: 100%;
                position: fixed;
                margin-top: -4px;
                border-bottom: 1px solid #d1cece;
                }
    
    .navbar button{
           border: 1px solid #f7f4f4;
        
    }
    .navbar a{
        background-color: #f9f9fa;
    }
    .navbar img{
        width: 40%;
    }
    
    .img{
    display:none;
    }
    
    .contact{
        margin-top:150px;
    
    }
    .para h1{
        width: 170%;
        font-size: 40px;
    }
    
    .para h3{
        width: 170%;
    
    }
    .para p{
        width:170%;
    
    }
    
    .now{
        height: 30px;
        width: 4%;
        margin-left: 300px;
       }
       .Now{
        margin-left: 200px;
        margin-top: -180px;
        width: 10%;
        height: 30px;
    
       }
       .heading{
        margin-top: -360px;
       }
    .mineimg{
        width: 100%;
        margin-left: 2px;
        height: 150px;
        text-align: center;
        display: block;
        margin: auto;
    padding-top: 20px;
    }
    
    .contactcontainer{
    flex-direction:column;
        display: flex;
    text-align: center;
    gap: 20px;
    margin-top: 60px;
    }
    .contactcontainer p{
    margin-left: 30px;
    margin-top: 10px;
    
    }
    
    .image{
    flex-direction: column;
    width: 370%;
    gap: 20px;
    }
    
    
    .but{
    flex-direction: column;
    height: 900px;
    margin-top: -800px;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 360px;
    
    }
    
    .but button{
        width: 106%;
        margin-left: -20px;
    }
    .Food{
    justify-self: start;
    margin-left: 30px;
    margin-top: -1000px;
    font-weight:900;
    }
    .bot{
    margin-top: -420px;
    }
    
    
    .t{
    margin-top: 368px;
    margin-left: 30px;
    justify-content: flex-start;
    }
    .IT{
    width: 50%;
    margin-top: 398px;
    margin-left: 30px;
    }
    .charset img{
        width: 70%;
        margin-left: 90px;
        
        }
        .heading{
        border: 1px solid red;
        
        }
        .firstcolum{
            text-align: center;
        height: 300px;
        width: 20%;
        margin-top: 40px;
        margin-left: 250px;
        }
        .bg{
            height: 1500px;
        }
        .head{
        display: inline;
        
        }
        
        
        .moreimg{
        width: 70%;
        display: flex;
        height: 100px;
        margin-left:80px;
        margin-top: -50px;
        }
        .moreimg img{
        display: flex;
        gap: 20px;
        margin-left: auto;
        height: 20px;
        width: 10%;
        }
        
        .secdoncolumn{
        text-align: center;
        height: 300px;
        width: 20%;
        margin-top: 5px;
        margin-left: 250px;
        
        }
        
        .thardcolumn{
            height: 300px;
            width: 60%;
            margin-top: 20px;
            margin-left: 130px;
            text-align: center;
        }
        
        .logoimg{
            margin-left: 20px;
        }
        
        .addres{
            margin-left: 20px;
        }
        
        .heading{
            display: none;
        }
        
}